// scss/_mesa.scss

@use 'tokens' as *;
@use 'sass:color';


.table-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 2rem;
  position: relative;

  &.public-view {
    padding-left: 0;
  }
}

.diagram-container {
  flex: 1;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.table {
  width: $table-width;
  height: $table-height;
  background-color: $table-bg;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.table-felt-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $felt-logo-width;
  opacity: 0.2;
}

.on-table-data-display {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
  color: $light-text;
}

.on-table-item {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.seat {
  width: $seat-size;
  height: $seat-size;
  background-color: #222;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.seat-content {
  pointer-events: none;
}

.rake-banner {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f39c12;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.9rem;
}
